.menu {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    padding: 30px;

}

.icon {
    display: flex;
    flex-direction: row;
    gap: 37px;
    color: #F9F9F9;
    
}
.tamanho{
    width: 1em;
}