@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
 
  background-image: linear-gradient(to right, rgba(98, 142, 117, 1), rgba(26, 72, 85, 1));
}
